## -*- coding: utf-8 -*-
<%namespace name="head" file="base_head.tmpl" import="*" />
<%namespace name="header" file="base_header.tmpl" import="*" />
<%namespace name="footer" file="base_footer.tmpl" import="*" />
${set_locale(lang)}

<!DOCTYPE html>
<html lang="${lang}">

${head.html_head()}

<body class="text-base lg:text-lg text-stone-800 bg-stone-100">
    <a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

    ${header.base_header()}

    <main id="content" class="mx-auto h-screen max-w-screen-2xl px-4 sm:px-5 xl:px-6 2xl:px-8 bg-blue-100">

        <section class="my-4 grid grid-cols-2 gap-x-4 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-12 lg:gap-x-5">
            <div class="bg-rose-200">1</div>
            <div class="bg-rose-200">2</div>
            <div class="bg-rose-200">3</div>
            <div class="bg-rose-200">4</div>
            <div class="bg-rose-200">5</div>
            <div class="bg-rose-200">6</div>
            <div class="bg-rose-200">7</div>
            <div class="bg-rose-200">8</div>
            <div class="bg-rose-200">9</div>
            <div class="bg-rose-200">10</div>
            <div class="bg-rose-200">11</div>
            <div class="bg-rose-200">12</div>
        </section>

        <%block name="content"></%block>

    </main>

    ${footer.base_footer()}

</body>

</html>