## -*- coding: utf-8 -*-

<%def name="base_footer()">
    <footer class="w-full border-t border-stone-300 mb-8 pt-8 text-sm text-left text-stone-500">
        <div class="flex flex-wrap items-center justify-between mx-auto max-w-screen-2xl px-4 sm:px-5 xl:px-6 2xl:px-8">
            <p class="w-full sm:w-auto">
                <a class="text-green-600">IfcOpenShell</a> is a free software project by amazing volunteers. You can <a
                    class="text-green-600">be one too</a>
                !
            </p>
            <div class="">
                <span class="">LOGO</span>
                <p><span>IfcOpenShell</span><br />The open source IFC toolkit and geometry engine</p>
            </div>
        </div>
    </footer>
</%def>